<div class="container">
  <p-toast></p-toast>
  <form [formGroup]="formPessoa">
    <div class="grid">
      <div class="col-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="p-fluid col-12">
        <label for="nome">Nome</label>
        <input id="nome" formControlName="nome" pInputText name="nome" required>
      </div>

      <div class="p-fluid col-12 md:col-9">
        <label for="logradouro">Logradouro</label>
        <input id="logradouro" pInputText formControlName="logradouro" name="logradouro" required>
      </div>

      <div class="p-fluid md:col-3 col-12">
        <label for="numero">Numero</label>
        <input id="numero" pInputText formControlName="numero" name="numero" required>
      </div>

      <div class="p-fluid md:col-4 col-12">
        <label for="complemento">Complemento</label>
        <input id="complemento" pInputText formControlName="complemento"  name="complemento" required>
      </div>

      <div class="p-fluid md:col-4 col-12">
        <label for="bairro">Bairro</label>
        <input id="bairro" pInputText formControlName="bairro" name="bairro" required>

      </div>

      <div class="p-fluid md:col-4 col-12">
        <label for="cep">CEP</label>
        <p-inputMask id="cep" formControlName="cep" mask="99999-999"></p-inputMask>
      </div>

      <div class="p-fluid md:col-6 col-12">
        <label for="cidade">Cidade</label>
        <input id="cidade" formControlName="cidade" pInputText name="cidade" required>

      </div>

      <div class="p-fluid md:col-6 col-12">
        <label for="estado">Estado</label>
        <input pInputText id="estado" formControlName="estado" name="estado"  required>

      </div>

      <div class="col-12">
        <button aria-label="salvar" class="mr-2" pButton (click)="onSave()"  [disabled]="formPessoa.invalid" label="Salvar"></button>
        <button (click)="newPessoa()" pButton type="button"
                label="Novo" class="p-button-info">
        </button>
        <a pButton (click)="goBack()" class="p-button-link">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>

</div>
