<div class="container">

  <form action="">
    <div class="grid">
      <div class="col-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="col-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="p-fluid col-6 md:col-3">
        <label>Vencimento</label>
        <p-calendar [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="p-fluid col-6 md:col-3">
        <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="p-fluid col-12 md:col-9">
        <label>Descrição</label>
        <input pInputText type="text">
      </div>
      <div class="p-fluid col-6 md:col-3">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00">
      </div>

      <div class="p-fluid col-12 md:col-6">
        <label>Categoria</label>
        <input pInputText type="text">
      </div>

      <div class="p-fluid col-12 md:col-6">
        <label>Pessoa</label>
        <input pInputText type="text">
      </div>

      <div class="p-fluid col-12">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" type="text" ></textarea>
      </div>

      <div class="col-12">
        <button class="mr-2" pButton type="submit" [disabled]="true" label="Salvar"></button>
        <button pButton type="button"
                  label="Novo" class="p-button-info">
        </button>
        <a  pButton class="p-button-link">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>
</div>
