<div class="container">
  <form>
    <div class="grid">
      <div class="col-12" >
        <h1>Nova Pessoa</h1>
      </div>

      <div class="p-fluid col-12">
        <label>Nome</label>
        <input pInputText>
      </div>

      <div class="p-fluid col-12 md:col-9">
        <label>Logradouro</label>
        <input pInputText>
      </div>

      <div class="p-fluid md:col-3 col-12">
        <label>Numero</label>
        <input pInputText>
      </div>

      <div class="p-fluid md:col-4 col-12">
        <label>Complemento</label>
        <input pInputText>
      </div>

      <div class="p-fluid md:col-4 col-12">
        <label>Bairro</label>
        <input pInputText>
      </div>

      <div class="p-fluid md:col-4 col-12">
        <label>CEP</label>
        <p-inputMask mask="99999-999"></p-inputMask>
      </div>

      <div class="p-fluid md:col-6 col-12">
        <label>Cidade</label>
        <input pInputText>
      </div>

      <div class="p-fluid md:col-6 col-12">
        <label>Estado</label>
        <input pInputText>
      </div>

      <div class="col-12">
        <button class="mr-2" pButton type="submit" [disabled]="true" label="Salvar"></button>
        <button pButton type="button"
                label="Novo" class="p-button-info">
        </button>
        <a  pButton class="p-button-link">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>

</div>
