<nav class="navbar">
  <div class="container">
    <div class="p-grid">
      <div class="col-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu  = !exibindoMenu"><i class="fas fa-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario" >José da Silva</li>
    <li class="navbar-menu-item">
      <a routerLink="/lancamento-pesquisa" routerLinkActive="active">Lançamentos - Pesquisa</a>
    </li>
    <li class="navbar-menu-item">
      <a routerLink="/lancamento-cadastro" routerLinkActive="active">Lançamentos - Cadastro</a>
    </li>
    <li class="navbar-menu-item">
      <a routerLink="/pessoa-pesquisa" routerLinkActive="active">Pessoas - Pesquisa</a>
    </li>
    <li class="navbar-menu-item">
      <a routerLink="/pessoa-cadastro" routerLinkActive="active">Pessoas - Cadastro</a>
    </li>
    <li class="navbar-menu-item">
      <a>Logout</a>
    </li>
  </ul>

</nav>
