<nav class="navbar">
  <div class="container">
    <div class="p-grid">
      <div class="col-12">
        <a class="navbar-toggle" (click)="handlerMenu()"><i class="fas fa-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario" >{{getUserName() }}</li>

    <li class="navbar-menu-item" *ngIf="hasPermition('admin')" routerLinkActive="ativo">
      <a routerLink="/lancamentos" routerLinkActive="active" (click)="handlerMenu()">Lançamentos</a>
    </li>

    <li class="navbar-menu-item" *ngIf="hasPermition('admin')"  routerLinkActive="ativo">
      <a routerLink="/pessoas" routerLinkActive="active" (click)="handlerMenu()">Pessoas</a>
    </li>

    <li class="navbar-menu-item" routerLinkActive="ativo">
      <a routerLink="/logout" routerLinkActive="active" (click)="handlerMenu()">Logout</a>
    </li>

  </ul>

</nav>
