<div class="container">
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <div class="p-grid">
    <div class="col-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="col-12 p-fluid">
      <label for="descricao">Descrição</label>
      <input id="descricao" type="text" [(ngModel)]="descricao" pInputText>
    </div>

    <div class="col-12">
      <label for="vencimentoInicio" style="display: block">Vencimento</label>
      <p-calendar id="vencimentoInicio" name="vencimentoInicio" [(ngModel)]="dataVencimentoInicio" dateFormat="dd/mm/yy"
                  [inputStyle]="{width: '95px'}"></p-calendar>
      <label for="vencimentoAte" class="mr-2 ml-2" id="ate">até</label>
      <p-calendar id="vencimentoAte" name="vencimentoFim" [(ngModel)]="dataVencimentoFim" dateFormat="dd/mm/yy"
                  [inputStyle]="{width: '95px'}"></p-calendar>
    </div>

    <div class="col-12">
      <button pButton type="submit" (click)="pesquisar()">Pesquisar</button>
    </div>
  </div>
  <div class="p-grid">
    <ng-container *ngIf="!lancamentos || lancamentos.length === 0">
      <div class="col-12">
        <p>Nenhum lançamento encontrado.</p>
      </div>
    </ng-container>
    <ng-container *ngIf="lancamentos && lancamentos.length > 0">
    <div class="col-12">
      <p-table [value]="lancamentos" styleClass="p-datatable-gridlines"
               responsiveLayout="stack" [breakpoint]="'960px'"
               [loading]="loading"
               [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [rows]="itensPorPagina"
               [totalRecords]="totalRecords" (onPage)="onPageChange($event)"
               [rowsPerPageOptions]="[10, 25, 50]" dataKey="codigo"
               [lazy]="true" #tabela
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Tipo</th>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th>Vencimento</th>
            <th>Pagamento</th>
            <th>Valor</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>{{ lancamento.tipo }}</td>
            <td>{{ lancamento.pessoa.nome }}</td>
            <td>{{ lancamento.descricao }}</td>
            <td class="col-data">{{ lancamento.dataVencimento | date: 'dd/MM/y' }}</td>
            <td class="col-data">{{ lancamento.dataPagamento | date : 'dd/MM/y'}}</td>
            <td class="col-valor"
                [ngStyle]="{color: lancamento.tipo === 'DESPESA'? 'red' : 'blue'}">{{ lancamento.valor | currency:'BRL':'symbol':'1.2-2' }}</td>
            <td class="col-actions">
              <div class="button-container">
                <button aria-label="editar" pButton style="margin: 0 5px" icon="fas fa-pencil" pTooltip="Editar" tooltipPosition="top"></button>
                <button aria-label="excluir" pButton style="margin: 0 5px" icon="fas fa-trash" (click)="onRemove(lancamento.codigo)" pTooltip="Excluir" tooltipPosition="top"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    </ng-container>

    <div class="col-12">
      <p-button (click)="newLancamento()" label="Novo Lançamento"></p-button>
    </div>
  </div>
</div>


