<div class="container">
  <div class="p-grid">
    <div class="col-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="col-12 p-fluid">
      <label id="descricao">Descrição</label>
      <input type="text" pInputText>
    </div>

    <div class="col-12">
      <label id="vencimento" style="display: block">Vencimento</label>
      <input pInputText type="text" style="width: 95px">
      <label id="ate">até</label>
      <input pInputText type="text" style="width: 95px">
    </div>

    <div class="col-12">
      <button pButton type="submit">Pesquisar</button>
    </div>
  </div>
  <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>
</div>


